.title{
    margin: 0 16px 0 16px ;
}

.title__profile{
    width: 98px;
    height: 98px;
}

.title__div{
    display: flex;
    flex-direction: column;
/*     margin-top: 56px; */
    align-content: center;
}



.title__bio{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 25.83px;
    color: var(--cor-de-primary);
}

.title__subsection{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16.44px;
    color: var(--cor-de-primary);
}

.title__network{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

.title__network__item img{
    width: 40px;
    height: 40px;
    filter: grayscale(-1);
}


/* Tablet */
@media screen and (min-width:768px){
    .title{
        margin: 0 32px 0 32px ;
    }
    .title__div{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .title__profile{
        width: 146px;
        height: 146px;
        align-self: center;
    }

    .title__container{
        width: 100%;
        max-width: 700px;
        margin: 0 32px 0 0;
    }
}


/* Desktop */
@media screen and (min-width:1024px){
    .title{
        padding-left: 100px;
        padding-right: 100px; 
        width: 100%;
        max-width: 1400px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .title__profile{
        width: 368px;
        height: 368px;
    }
    .title__container{
        align-self: center;
    }
    .title__bio{
        font-size: 5.2rem;
        line-height: 6.1rem;
    }
    .title__subsection{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}

