
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills__title{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 25.83px;
    color: var(--cor-de-primary);
}

.skills__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 530px;
    justify-content: space-around;

}

.skills__box{
    width: 156px;
    height: 118px;
    background-color: var(--cor-de-third);
    margin: 16px calc(100% - 98%) 16px calc(100% - 98%);
}

.skills__box ul {
    margin: 38px 0 0 16px;
    padding: 0;
}


.skills__name{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 18.78px;
    color: var(--cor-de-primary);
}




/* Tablet */
@media screen and (min-width:768px){
    .skills{
        padding: 0 32px 0 32px;
    }
    .skills__line{
        max-width: 1024px;

    }
    .skills__box{
        width: 100%;
        height: 118px;
        max-width: 220px;
        margin: 25px calc(100% - 98%) 25px calc(100% - 98%);
    }
}

/* Desktop */
@media screen and (min-width:1024px){
    .skills{
        padding: 0;
    }
    .skills__line{
        padding-left: 100px;
        padding-right: 100px; 
        width: 100%;
        max-width: 1400px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .skills__box{
        margin: 15px 0 0;
       width: 176px;
       height: 174px; 
    }

    .skills__box ul {
        margin: 90px 0 0 16px;
        padding: 0;
    }

}