.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-de-secundary);
}

.academic__title{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 25.83px;
    text-align: center;
    color: var(--cor-de-primary);
}

.academic__courses{

}

.academic__courses__box{

}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    padding:0;
    
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;
}

.academic__courses__item__img img{
    width: 90%;
    max-width: 500px;
}

.academic__courses__item__title{
    display: flex;
    justify-content: center;
}

.academic__courses__item__title h4{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--cor-de-primary);
    margin: 0;
    width: 90%;
    max-width: 500px;
}

.academic__courses__item__subtitle{
    display: flex;
    justify-content: center;
}

.academic__courses__item__subtitle p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16px;
    color: var(--cor-de-primary);
    margin: 8px 0 0 0;
    width: 90%;
    max-width: 500px;
}


/* Tablet */
@media screen and (min-width:768px){

}

/* Desktop */
@media screen and (min-width:1024px){

}